.answers {
    color: white;
}

.answers:hover,
.answers.active {
    background: green;
}

.answers.correct {
    animation: correct 3s ease forwards;
}

.answers.incorrect {
    animation: incorrect 3s ease forwards;
}

@keyframes correct {
    0%, 22%, 42% {
        background: #3891B1;
    }

    20%, 40%, 60% {
        background: linear-gradient(#3891B1, #186783);
    }

    62% {
        background: green;
    }
    
}

@keyframes incorrect {
    0%, 22%, 42% {
        background: #3891B1;
    }

    20%, 40%, 60% {
        background: linear-gradient(#3891B1, #186783);
    }

    62% {
        background: red;
    }
    
}