.progress {
    width: 100%;
    max-width: 380px;
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: stretch;
    background: white;
    overflow: hidden;
}

.money-block {
    width: 100%;
    position: relative;
}

.money-block svg {
    width: 240px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.money-block svg path {
    fill: white;
    stroke: #D0D0D8;
}

.money-item {
    width: 100%;
    max-width: 240px;
    height: 40px;
    line-height: 40px;
    font-weight: 400;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    color: #1C1C21;
    text-align: center;
    position: relative;
    z-index: 100;
}

.money-block::before {
    content: "";
    position: absolute;
    left: 0px;
    top: calc(50% - 5px);
    width: 100%;
    height: 1px;
    background:  #D0D0D8;
}

.money-block.active .money-item {
    color: white
}

.money-block.active::before, 
.money-block.active svg path {
    background:  #3891B1;
    fill: #3891B1;
    stroke: #3891B1;
}

.money-block.disable .money-item {
    color: #D0D0D8
}

@media (max-width: 768px) {
    .progress {
        max-width: 100%;
        height: calc(100vh - 68px);
        background: #F5F5F7;
    }

    .money-block.active svg path {
        background: white;
        fill: white;
        stroke: #3891B1;
    }

    .money-block.active .money-item {
        color: #3891B1;
    }
}

