.main-page {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url('../../images/main-background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    padding: 10% 5%;
    box-sizing: border-box;
}

.main-image {
    width: 50%;
}

.main-text {
    width: 50%;
}

.info-button {
    width: 296px;
    height: 64px;
    background: #3891B1;
    border-radius: 12px;
}
